# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

public/bower_components/
node_modules/
platforms/
plugins/
wwww/
.tmp/
.sass-cache/
.DS_Store
.idea