@mixin type-body-1() {
    font-size: 16px;
    color: $color-cool-grey;
}

@mixin type-body-2() {
    font-size: 14px;
    color: $color-cool-grey;
}

@mixin type-body-3() {
    font-size: 12px;
    color: $color-cool-grey;
}